.menu {
    width: 30%;
    height: 100%;
    left: 0;
    background-color: white;

    .title,
    .releaseNote {
        margin-top: 40px;
        margin-left: 50%;
        font-weight: bold;
        font-size: 20px;
    }

    .releaseNote {
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .lists {
        margin-top: 10px;
        margin-left: 50%;
        width: 50%;
        height: 100%;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        
        .item {
            .list {
                width: 100%;
                margin-left: 30px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            
            text-align: center;
            line-height: 40px;
            color: #707070;
            font-weight: normal;

            &[class~='active'] {
                background-color: #EEF0F7;
                color: #111111;
                font-weight: bold;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}
