.menu {
    width: 400px;
    height: 100%;
    position: fixed;
    top: 70px;
    left: 0;
    font-size: 24px;

    .title {
        margin: 1rem 0 0 1rem;
        font-weight: bold;
        color: brown;
    }

    .lists {
        margin: 4px;
        margin-top: 10px;
        list-style: none;
        min-width: 300px;
        width: 10%;
        background-color: whitesmoke;
        height: 100vh;
        font-size: 20px;

        .item {
            width: 130px;
            height: 100px;
            padding: 7px;

            text-align: center;
            line-height: 40px;
            border-radius: 8px;
            margin: 5px;
            margin-top: 1.5rem;
            background-color: whitesmoke;
            color: black;
            font-weight: normal;

            &[class~='active'] {
                background-color: black;
                color: white;
                font-weight: bold;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}
