@import '../../../styles/texts';

.simpleTable {
    table {
        border-collapse: collapse;
        font-size: 15px;
    }
    td,
    th {
        border: 1px solid #ddd;
        padding: 12px;
    }
    td:nth-child(1) {
        width: 150px;
    }

    tr:nth-child(1) {
        background-color: #E4E6EE;
        color: black;
        font-weight: bold;
    }

    tr:hover {
        background-color: #ddd;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04aa6d;
        color: white;
    }
}

.getStartedText {
    @include texts;
}
.getStarted {
    padding-bottom: 50px;
}
.viewport {
    width: 95%;
    height: 550px;
    position: relative;
}
