body {
    margin: 0;
}

.viewport {
    width: 100vw;
    height: 100vh;
}

.inputContainer {
    display: flex;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 10;
}

.addTag,
.addMarker,
.delete {
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    z-index: 10;
    margin-left: 5px;
}

.addPOI:hover,
.addMarker:hover,
.delete:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}
