.example {
  width: 100vw;
  height: 100vh;
  display: flex;

  .lists {
    list-style: none;
    width: 10%;
    height: 100vh;

    li {
      width: 90px;
      height: 30px;
      padding: 3px;
      text-align: center;
      line-height: 30px;
      border-radius: 8px;
      margin-top: 1rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  iframe {
    width: 90%;
    height: 100vh;
    border: none;
  }
}