$fontSize: 1rem;
$color: #000;

@mixin texts {
    padding-top: 1rem;

    p {
        max-width: 1000px;
        font-size: 15px;
        line-height: 30px;
        margin: 20px;
        margin-left: 0;
    }

    .title {
        font-weight: bold;
        font-size: 24px;
        margin: 50px 0;
    }

    .middleTitle {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 20px;
    }

    .miniTitle {
        margin-top: 30px;
        font-weight: 500;
        font-size: 20px;
    }

    .texts {
        width: 90%;
        margin-top: 10px;
        font-size: 15px;
        line-height: 1.5 * $fontSize;
        div {
            padding-left: 0px;
        }
    }
    .details {
        width: 90%;
        margin-top: 10px;
        font-size: 15px;
        line-height: 1.5 * $fontSize;
        text-indent: 35px;
    }

    .code {
        width: 90%;
        overflow: auto;
        overflow-wrap: break-word;
        font-size: 0.9 * $fontSize;
        display: block;
        background-color: #f6f8fa;
        color: $color;
        padding: 20px;
        line-height: 1.2 * $fontSize;
        margin-bottom: 20px;

        span {
            color: #00f2ff;
            font-weight: bold;
            &.value {
                font-family: monospace;
                color: #ff66f5;
                font-weight: normal;
            }
            &.reserved {
                font-weight: normal;
                color: #ff0000;
            }
            &.special {
                font-weight: normal;
                color: #b18cf7;
            }
            &.comment {
                font-weight: normal;
                color: #550074;
            }
        }
    }

    .textGroup {
        text-indent: 20px;
    }
}
