$fontSize: 1rem;
$color: #fff;

@mixin texts {
    padding-top: 1rem;

    p {
        max-width: 1000px;
        margin: 2rem 0;
        font-size: 15px;
        line-height: 30px;
    }

    .title {
        font-weight: bold;
        font-size: 32px;
    }

    .middleTitle {
        font-weight: bold;
        font-size: 25px;
    }
    
    .miniTitle {
        font-weight: bold;
        margin-top: 1rem;
        font-size: 18px;
    }
    
    .texts {
        margin-top: 10px;
        font-size: 15px;
    }
    
    .code {
        width: 100%;
        overflow: auto;
        overflow-wrap: break-word;
        font-family: monospace;
        font-size: 0.8 * $fontSize;
        max-width: 900px;
        display: block;
        border-radius: 10px;
        background-color: #333333;
        color: $color;
        padding: 20px;
        line-height: 1.15 * $fontSize;

        span {
            color: #ff5100;
            font-weight: bold;
            &.value {
                font-family: monospace;
                color: #00ff00;
                font-weight: normal;
            }
            &.reserved {
                font-weight: normal;
                color: #00ffff;
            }
            &.special {
                font-weight: normal;
                color: #b18cf7;
            }
            &.comment {
                font-weight: normal;
                color: #cceecc;
            }
        }
    }
}