@import '../../../../styles/btns';

.navigationMap {
    width: 800px;
    height: 300px;
    position: relative;

    .route,
    .navi,
    .stop,
    .clear {
        @include btns;
    }

    .navi {
        top: 4rem;
    }

    .stop {
        top: 7rem;
    }

    .clear {
        top: 10rem;
    }
}