@import '../../../../styles/btns';

.layerGroupMap {
    position: relative;
    width: 800px;
    height: 300px;
    margin-bottom: 100px;

    .contextSelector {
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 10;
    }

    .input {
        position: absolute;
        top: 3rem;
        left: 1rem;
        z-index: 10;
    }

    .hideBtn,
    .showBtn {
        @include btns;
    }

    .showBtn {
        top: 4rem;
    }
}