body {
    margin: 0;
    padding: 0;
}
a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
.example {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .header {
        width: 100%;
        background-color: black;
        color: white;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .body {
        display: flex;

        .lists {
            margin: 4px;
            margin-top: 10px;
            list-style: none;
            min-width: 200px;
            width: 10%;
            background-color: whitesmoke;
            height: 100vh;
            font-size: 20px;

            .item {
                width: 130px;
                height: 100px;
                padding: 7px;

                text-align: center;
                line-height: 40px;
                border-radius: 8px;
                margin: 5px;
                margin-top: 1.5rem;
                background-color: whitesmoke;
                color: black;
                font-weight: normal;

                &[class~='active'] {
                    background-color: black;
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
}
