.header {
    width: 100%;
    height: 74px;
    color: #192A67;
    border-bottom: 1px solid #E4E6EE;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        height: 20px;
        object-fit: contain;
        margin-left: 15%;
    }

    .documents {
        margin-right: 20%;
        display: flex;
        align-items: center;

        .link {
            font-size: 18px;
            margin-right: 50px;
            font-weight: 500;
            text-decoration: none;

            &:link {
                color: #192A67;
            }
            &:visited {
                color: #192A67;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .btn {
            margin-left: 50px;
            padding: 3px;
            background-color: white;
            font-size: 13px;
            border-radius: 4px;
            display: flex;
            align-items: center;

            img {
                margin-left: 10px;
                height: 6px;
                object-fit: contain;

                &:hover {
                    cursor: pointer;
                }
            }
            
            .toggle {
                position: relative;
                font-size: 15px;

                .toggleItem {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 20px;
                }

                .toggleBtn {
                    width: 74px;
                    height: 81px;
                    z-index: 10;
                    position: absolute;
                    color: #707070;
                    top: 25px;
                    left: -25px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                .toggleImgItem {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 45px;
                    left: -15px;
                    width: 74px;
                    height: 25px;
                    z-index: 10;

                    &:first-child {
                        top: 45px;
                    }

                    &:last-child {
                        top: 70px;
                    }

                    &:hover {
                        background-color: #EEF0F7;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
