body {
    margin: 0;
}
.map {
    width: 100vw;
    height: 100vh;
    /* position: relative; */
}

.container {
    top: 20px;
    left: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.button-menu {
    width: 201px;
    height: 24px;
    background-color: #F5F6F9;;
    text-align: center;
    line-height: 16px;
    border: 1px solid #ddd;
    outline: none;
    font-weight: bold;
}

.inline-input {
    margin-top: 5px;
    outline: none;
    border: 1px solid #ddd;
    height: 24px;
}