body {
  margin: 0;
}

.viewport {
  width: 1000px;
  height: 500px;
  position: relative;
}

.inputContainer {
  display: flex;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
}

.routeBtn,
.navBtn,
.stopBtn,
.clearBtn {
  padding: 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  z-index: 10;
  margin-left: 5px;
}

.routeBtn:hover,
.navBtn:hover,
.stopBtn:hover,
.clearBtn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
